@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alex+Brush&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alex+Brush&family=Poppins:ital,wght@0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.products_list {
    display: flex;
    justify-content: center;
}

.products_list button {
    margin: 50px;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

.images_menu {
    display: flex;
    justify-content: center;
}
.images_menu img {
    width: 40%;
}

body {
    background-color: #202020;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: #fd9d3e;
    font-family: poppins;
}

.navbar {
    width: auto;
    height: 100px;
}

.nav-item a {
    margin: 10px 20px;
    font-size: 17px;
    color: #202020;
}

.nav-item {
    z-index: 1;
}

.cart {
    padding: 10px;
    background-color: transparent;
    border-radius: 7px;
    position: relative;
    left: 320%;
    top: 6px;
    text-align: center;
    background-color: #ffeba0;
}

.cart:hover {
    color: #202020;
}

.cart svg {
    fill: #202020;
}

.nav-item svg {
    margin: auto 10px;
}

.container-main {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    color: #ffeba0;
}

.container-text {
    width: 40%;
    position: relative;
    top: 130px;
    left: 150px;
}

.container-text h1 {
    font-size: 50px;
    font-weight: 600;
}

.order-now {
    text-decoration: none;
    color: #8c2617;
    background-color: #ffeba0;
    padding: 10px 15px;
    border-radius: 10px;
}

.circle {
    position: absolute;
    width: 600px;
    height: 80%;
    background-color: #ffeba0;
    left: 800px;
    top: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.container-main img {
    position: relative;
    left: 130px;
    top: 50px;
    height: 100%;
   z-index: 1;
}

.container1 {
    height: 100vh;
    width: 100%;
    background-color: 	#202020;
    margin: 0 0 -40px;
}

.carousel-item svg {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 205px;
    fill: #ffeba0;
}

.pizza {
    position: relative;
    top: 30px;
    left: 50px;
    z-index: 1;
}

.pizza-name {
    position: relative;
    top: 200px;
    left: 100px;
    line-height: 1;
}

.pizza-name p {
    color: #ffeba0;
    font-size: 80px;
    text-transform: uppercase;
}

.add-cart span {
    color: #ffeba0;
}

.add-cart button {
    text-transform: capitalize;
    background-color: #fd9d3e;
    color: #f2f2f2;
    border: none;
}

.description {
    color: #ffeba0;
    position: relative;
    top: 400px;
}

.description h5 {
    font-size: 70px;
    text-transform: capitalize;
}

.container2 {
    width: 100%;
    height: 100vh;
    background-color: #ffeba0;
    margin: -30px 0;
}

.header-dining {
    position: absolute;
    color: #202020;
    font-size: 100px;
    font-family: cursive;
    margin: 50px auto ;
}

.dine-in, .deliver, .pick-up {
    width: 350px;
    height: 400px;
    background-color: #8c2617;
    color: #f2f2f2;
    text-align: center;
    margin: 250px auto;
    box-shadow: 7px 7px #202020;
    border: 5px solid #202020;
}

.dine-in h1, .deliver h1, .pick-up h1 {
    font-family: alex brush;
}

.dine-in p, .deliver p, .pick-up p {
    font-family: poppins;
}

.dine-in svg, .deliver svg, .pick-up svg {
    width: 50px;
    height: 50px;
    fill: #f2f2f2;
}
footer {
    width: 100%;
    height: 40vh;
}

footer h1 {
    font-size: 60px;
    color: #ffeba0;
}

footer svg {
    fill: #ffeba0;
    width: 15px;
    height: 25px;
}

footer p {
    color: #ffeba0;
}

.container-contacts {
    background-color: #ffeba0;
    width: 80%;
    height: 80vh;
    margin: 20px auto;
    border-radius: 20px;
}

.video-container {
    position: relative;
    width: 640px; /* Set the desired width */
    border-radius: 15px; /* Add border-radius for rounded corners */
    overflow: hidden; /* Hide overflow content (if any) */
}

video {
    width: 70%;
    border-radius: 10px 0 0 10px;
}

.contact-form {
    background-color: #8c2617;
    width: 65%;
    height: 80vh;
    margin: 0 0 0 -200px;
    border-radius: 0 20px 20px 0;
}

.contact-form h1 {
    color: #ffeba0;
    margin: 50px 0 15px 50px;
    font-size: 60px;
}

.contact-form input {
    height: 40px;
    width: 45vw;
    border-radius: 10px; 
    border: none;
    box-shadow: 5px 5px #ffeba0;
    caret-color: #8c2617;
    text-indent: 10px;
}

.contact-form textarea {
    height: 100px;
    width: 45vw;
    border-radius: 10px; 
    border: none;
    resize: none;
    box-shadow: 5px 5px #ffeba0;
    text-indent: 10px;
    padding: 5px 0;
}

.contact-form input::placeholder, textarea::placeholder {
    padding: 5px 10px;
}

.contact-form button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #ffeba0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    margin: 10px 300px;
}

.contact-form button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffeba0;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.contact-form button:hover::before {
    transform: translateX(0);
}

.header-container {
    margin: 10px auto;
    text-align: center;
    background-color: #ffeba0;
    color: #8c2617;
    padding: 30px 0;
}

.header-container h1 {
    font-size: 70px;
}

#menu-nav {
    width: 100%;
    height: 100px;
    background-color: #8c2617;
    margin: -10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-nav a {
    text-transform: capitalize;
    text-decoration: none;   
    color: #202020;
    font-size: 25px; 
    position: relative;
    z-index: 1;
}

.container {
    display: none;

  }
  
.container.active {
    display: block;

}

#pizza-container, #sides-container {
    width: 80%;
    height: 80vh;
    background-color: #ffeba0;
    margin: 50px auto;
    border-radius: 50px;
}

#pasta-container, #drinks-container {
    width: 80%;
    height: 80vh;
    background-color: #8c2617;
    margin: 50px auto;
    border-radius: 50px;
}

.list {
    list-style-type: none;
}

.indicator {
    position: absolute;
    left: 465px;
    width: 120px;
    height: 60px;
    background: #ffeba0 ;
    border-radius: 25px;
    border: 6px solid #8c2617;
    transition: 0.5s;
    z-index: 0;
}

#menu-nav li.list:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
#menu-nav li.list:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 2.15));
}
#menu-nav li.list:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 4.35));
}
#menu-nav li.list:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 6.65));
}

  