@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alex+Brush&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alex+Brush&family=Poppins:ital,wght@0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.products_list {
    display: flex;
    justify-content: center;
}

.products_list button {
    margin: 50px;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

.images_menu {
    display: flex;
    justify-content: center;
}
.images_menu img {
    width: 40%;
}

body {
    background-color: #202020;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: #fd9d3e;
    font-family: poppins;
}

.navbar {
    width: auto;
    height: 100px;
}

.nav-item a {
    margin: 10px 20px;
    font-size: 17px;
    color: #202020;
}

.nav-item {
    z-index: 1;
}

.cart {
    padding: 10px;
    background-color: transparent;
    border-radius: 7px;
    position: relative;
    left: 320%;
    top: 6px;
    text-align: center;
    background-color: #ffeba0;
}

.cart svg {
    fill: #202020;
}

.nav-item svg {
    margin: auto 10px;
}

.container-main {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    color: #ffeba0;
}

.container-text {
    width: 40%;
    position: relative;
    top: 130px;
    left: 150px;
}

.container-text h1 {
    font-size: 50px;
    font-weight: 600;
}

.circle {
    position: absolute;
    width: 600px;
    height: 80%;
    background-color: #ffeba0;
    left: 800px;
    top: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.container-main img {
    position: relative;
    left: 130px;
    top: 50px;
    height: 100%;
   z-index: 1;
}

.container1 {
    height: 100vh;
    width: 100%;
    background-color: 	#202020;
    margin: 0 0 -40px;
}

.carousel-item svg {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 205px;
    fill: #ffeba0;
}

.pizza {
    position: relative;
    top: 30px;
    left: 50px;
    z-index: 1;
}

.pizza-name {
    position: relative;
    top: 200px;
    left: 100px;
    line-height: 1;
}

.pizza-name p {
    color: #ffeba0;
    font-size: 80px;
    text-transform: uppercase;
}

.add-cart span {
    color: #ffeba0;
}

.add-cart button {
    text-transform: capitalize;
    background-color: #fd9d3e;
    color: #f2f2f2;
    border: none;
}

.description {
    color: #ffeba0;
    position: relative;
    top: 400px;
}

.description h5 {
    font-size: 70px;
    text-transform: capitalize;
}

.container2 {
    width: 100%;
    height: 100vh;
    background-color: #ffeba0;
    margin: -30px 0;
}

.header-dining {
    position: absolute;
    color: #202020;
    font-size: 100px;
    font-family: cursive;
    margin: 50px auto ;
}

.dine-in, .deliver, .pick-up {
    width: 350px;
    height: 400px;
    background-color: #8c2617;
    color: #f2f2f2;
    text-align: center;
    margin: 250px auto;
    box-shadow: 7px 7px #202020;
    border: 5px solid #202020;
}

.dine-in h1, .deliver h1, .pick-up h1 {
    font-family: alex brush;
}

.dine-in p, .deliver p, .pick-up p {
    font-family: poppins;
}

.dine-in svg, .deliver svg, .pick-up svg {
    width: 50px;
    height: 50px;
    fill: #f2f2f2;
}
footer {
    width: 100%;
    height: 40vh;
}

footer h1 {
    font-size: 60px;
    color: #ffeba0;
}

footer svg {
    fill: #ffeba0;
    width: 15px;
    height: 25px;
}

footer p {
    color: #ffeba0;
}

.container-contacts img{
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-contacts h1 {
    font-size: 90px;
    color: #fd9d3e;
    font-family: alex brush;
    position: relative;
    text-align: center;
    top: -300px;
}

.container-contacts p {
    color: #f2f2f2;
    font-size: 50px;
    position: relative;
    top: -280px;
    text-align: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #fd9d3e; /* Adjust the color as needed */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

main {
    margin: 0 0 -30px;
}

.form {
    --input-focus: #f2f2f2;
    --font-color: #f2f2f2;
    --font-color-sub: #fd9d3e;
    --bg-color: beige;
    --main-color: #f2f2f2;
    padding: 20px;
    background: #fd9d3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: fit-content;
    width: 45vw;
    position: relative;
    top: -190px;
    margin: 0 auto -160px;
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 50px;
    margin: 25px auto;
}

.input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #202020;
    background-color: var(--bg-color);
    box-shadow: 4px 4px #202020;
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.message {
    height: 60px;
}

.button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    margin: 10px auto 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #202020;
    background-color: var(--bg-color);
    box-shadow: 4px 4px #202020;
    font-size: 17px;
    font-weight: 600;
    color: #fd9d3e;
    cursor: pointer;
}

.header-container {
    margin: 10px auto;
    text-align: center;
    background-color: #8c2617;
    color: #f2f2f2;
    padding: 30px 0;
}

.header-container h1 {
    font-size: 70px;
}


  